sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.5rem;
    color: #92793f;
    font-size: 0.75rem;
    font-style: normal;
    font-family: "IBM Plex Serif", serif;
}

sub { 
    top: 0.4rem; 
}

.termSpan {
    font-weight: bold;
    color: #bd9d52;
}

.quoteContainer {
    margin: 1rem;
    display: flex;
    position: relative;
    justify-content: center;
}

.quoteContainer > div {
    width: 75%;
}

.quoteSymbol {
    background-image: url('./quotation.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 7rem;
    width: 7rem;
    filter: opacity(0.35);
    position: absolute;
}

.quoteWrapper {
    margin-top: 1.3rem;
    margin-left: 3rem;
    font-style: italic;
    font-size: 1.2rem;
}

.emptyLine {
    height: 2rem;
    width: 100%;
}

.space {
    height: 0.5rem;
    width: 100%;
}

@media (max-width: 480px) {
    .quoteContainer > div {
        width: 100%;
    }

    .quoteContainer {
        margin: 1rem 0rem;
    }

    .quoteWrapper {
        margin: 1.3rem 1rem 1rem 1.5rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 896px) {
    .quoteWrapper {
        font-size: 1.5rem;
    }
}